@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My Home Application</h1>
</div>
<div>
    <h3>
        A healthcare center, health center, or community health center is one of a network of clinics staffed by a group of general practitioners and nurses providing healthcare services to people in a certain area. Typical services covered are family practice and dental care, but some clinics have expanded greatly and can include internal medicine, pediatric, women’s care, family planning, pharmacy, optometry, laboratory testing, and more. In countries with universal healthcare, most people use the healthcare centers. In countries without universal healthcare, the clients include the uninsured, underinsured, low-income or those living in areas where little access to primary health care is available.[citation needed] In the Central and East Europe, bigger health centers are commonly called policlinics (not to be confused with polyclinics).
    </h3>
    <h4>
        A healthcare center, health center, or community health center is one of a network of clinics staffed by a group of general practitioners and nurses providing healthcare services to people in a certain area. Typical services covered are family practice and dental care, but some clinics have expanded greatly and can include internal medicine, pediatric, women’s care, family planning, pharmacy, optometry, laboratory testing, and more. In countries with universal healthcare, most people use the healthcare centers. In countries without universal healthcare, the clients include the uninsured, underinsured, low-income or those living in areas where little access to primary health care is available.[citation needed] In the Central and East Europe, bigger health centers are commonly called policlinics (not to be confused with polyclinics).
    </h4>
    <h5>
        A healthcare center, health center, or community health center is one of a network of clinics staffed by a group of general practitioners and nurses providing healthcare services to people in a certain area. Typical services covered are family practice and dental care, but some clinics have expanded greatly and can include internal medicine, pediatric, women’s care, family planning, pharmacy, optometry, laboratory testing, and more. In countries with universal healthcare, most people use the healthcare centers. In countries without universal healthcare, the clients include the uninsured, underinsured, low-income or those living in areas where little access to primary health care is available.[citation needed] In the Central and East Europe, bigger health centers are commonly called policlinics (not to be confused with polyclinics).
        A healthcare center, health center, or community health center is one of a network of clinics staffed by a group of general practitioners and nurses providing healthcare services to people in a certain area. Typical services covered are family practice and dental care, but some clinics have expanded greatly and can include internal medicine, pediatric, women’s care, family planning, pharmacy, optometry, laboratory testing, and more. In countries with universal healthcare, most people use the healthcare centers. In countries without universal healthcare, the clients include the uninsured, underinsured, low-income or those living in areas where little access to primary health care is available.[citation needed] In the Central and East Europe, bigger health centers are commonly called policlinics (not to be confused with polyclinics).
    </h5>
</div>
