/* _content/AreaExampleCore/Areas/Admin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-iswjh470js] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-iswjh470js] {
  color: #0077cc;
}

.btn-primary[b-iswjh470js] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-iswjh470js], .nav-pills .show > .nav-link[b-iswjh470js] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-iswjh470js] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-iswjh470js] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-iswjh470js] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-iswjh470js] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-iswjh470js] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/AreaExampleCore/Areas/Finance/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rqt0xydodi] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rqt0xydodi] {
  color: #0077cc;
}

.btn-primary[b-rqt0xydodi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rqt0xydodi], .nav-pills .show > .nav-link[b-rqt0xydodi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rqt0xydodi] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rqt0xydodi] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rqt0xydodi] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rqt0xydodi] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rqt0xydodi] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/AreaExampleCore/Areas/HR/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-5sv4jxxz8p] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-5sv4jxxz8p] {
  color: #0077cc;
}

.btn-primary[b-5sv4jxxz8p] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-5sv4jxxz8p], .nav-pills .show > .nav-link[b-5sv4jxxz8p] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-5sv4jxxz8p] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-5sv4jxxz8p] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-5sv4jxxz8p] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-5sv4jxxz8p] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-5sv4jxxz8p] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/AreaExampleCore/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-1576dy7hj7] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-1576dy7hj7] {
  color: #0077cc;
}

.btn-primary[b-1576dy7hj7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-1576dy7hj7], .nav-pills .show > .nav-link[b-1576dy7hj7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-1576dy7hj7] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-1576dy7hj7] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1576dy7hj7] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-1576dy7hj7] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-1576dy7hj7] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
